h1 { 
    position: absolute;
    right: 1%;
    top: 1%;
    }
    body {
        background: rgb(161, 90, 140);
    }
    
    #meni ul {
        padding-left: 2px;
    }
    #meni li {
        padding-right: 25px;
        display: inline;
        list-style:none;
    }
    #logo{
        width: 70px; 
        height: 55px;
    }
   
   
      p {
        text-align: center;
    }
 #sve {
     position: absolute;
     top: 20%;
     width: 100%;
     bottom: 10%;
     left: 0%;
     background: gray;
    }

 #glavniSadrzaj {
    position: absolute;
    left: 7.5%;
    width: 85%;
    height: 100%;
    background: darkgray;
}


#zanovu {
    box-shadow: 5px 10px #888888;
    position: absolute;
    top: 2%;
    bottom: 4%;
    left: 12%;
    right: 12%;
    background: rosybrown;
    }

#prva {
    position: absolute;
    left : 20%;
    top: 19%;
    width: 20%; 
    height: 10%;
    
}



#druga {
    position: absolute;
    left : 60%;
    top: 19%;
    width: 20%; 
    height: 10%;
    
}

#drugi {
    position: absolute;
    left: 20%;
    top: 39%;
    width: 20%; 
    height: 10%;
    
}


#treca {
    position: absolute;
    left : 60%;
    top: 39%;
    width: 20%; 
    height: 10%;
    font-size: 13px;
    
}

#treci {
    position: absolute;
    left : 10%;
    bottom: 10%;
    width: 10%; 
    height: 10%;
    
}

#cetvrta {
    position: absolute;
    left : 20%;
    top: 59%;
    width: 20%; 
    height: 10%;
    
}

#cetvrti {
    position: absolute;
    left : 60%;
    top: 59%;
    width: 20%; 
    height: 10%;
    
    
}



textarea {
    position: absolute;
    bottom: 25%;
    left: 20%;  
    width: 60%;
    height: 25%;
    font-size: 14px;
}




@media only screen and (max-width: 599px){

    #header {
    position: absolute;
    width: 100%;
    top: 0%;
    height: 30%;
    
    }
    
    #meni {
        position: absolute;
        top: 20%;
        width: 100%;
          }
    
        
    #naziv {
        position: absolute;
        font-size: 20px;
        top: 70%; 
        left: 0%;
        }

        #glavniSadrzaj {
            position: absolute;
            width: 100%;
            top: 0%;
            left: 0%;
            height: 100%;
            
            }
            #sve {
                position: absolute;
                width: 100%;
                top: 30%;
                height: 100%;
                
                }

        #footer {
            position: absolute;
            width: 100%;
            top: 130%;
            height: 20%;
            
          }

    
        }
